body {
    font-family: 'Times New Roman', Times, serif;
  background-image: url(photo4.jpg);
  background-size: contain; 
}

.container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;

}

label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
input:focus{
    border: 1px solid #17a2b8;
}
button[type="submit"] {
    background-color: #17a2b8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button[type="submit"]:hover {
    background-color: #555;
}
p a{
    text-decoration: 0;
    color: #17a2b8;
}
p a:hover{
    text-decoration: underline;
}
p{
    text-align: center;
}